<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="container body-content" style="padding-left:10%;padding-top:8%">

        <div style="display:inline;padding-bottom:100%">
            @Html.ActionLink("LogIn", "LogIn", "Home")
            @Html.ActionLink("SignUp", "SignUp", "Home")
        </div>

        <div style="padding-top:5%">@RenderBody()</div>
        
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
