@using Models;

@{
    var lstBID = ViewBag.BIDList as IEnumerable<BID>;
}

@model Models.BID

@using (Html.BeginForm("UpdateBID","User",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div style="float:left" class="form-inline">

        @foreach (BID b in lstBID)
        {         

                @Html.EditorFor(model => b.Id, new { htmlAttributes = new { @class = "form-control hide" } })

                <div class="form-group">
                    @Html.DisplayFor(model => b.CompanyName, new { @class = "control-label col-md-2" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => b.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => b.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => b.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => b.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
                }
            </div>
        }
