@using Models;


@{
    long cui = ViewBag.Cui;
	var Company = EntityFramework.Context.FindCompany(cui);

}

<html>
<head>

	<link rel="stylesheet" href="~/Scripts/amcharts/style.css" type="text/css">
	<script src="~/Scripts/amcharts/amcharts.js" type="text/javascript"></script>
	<script src="~/Scripts/amcharts/serial.js" type="text/javascript"></script>
	<script src="~/Scripts/amcharts/amstock.js" type="text/javascript"></script>
	<script src="~/Scripts/jquery-dateFormat.js" type="text/javascript"></script>

	<script>
       

        $(document).ready(function () {

            $.get('@Url.Action("GraphData", "User", new { cui = cui })', function (response) {       

                var chartData = [];
                var displayData;

                for (var i = 0; i < response.length; i++) {
				
                    chartData[i] = {
                        companyName: response[i].CompanyName,

						date: new Date(parseInt(response[i].Date.substr(6))),

						open: response[i].OpenPrice,
						close: response[i].ClosingPrice,

						high: response[i].High,
						low: response[i].Low,
						
						volume: response[i].Volume,
						value: response[i].Value
                    }

                    displayData = {
                        companyName: response[response.length - 1].CompanyName,

						date: $.format.date(new Date(parseInt(response[response.length - 1].Date.substr(6))),"dd/MM/yyyy"),

						open: response[response.length - 1].OpenPrice,
						close: response[response.length - 1].ClosingPrice,

						high: response[response.length - 1].High,
						low: response[response.length - 1].Low,
						
						volume: response[response.length - 1].Volume,
						value: response[response.length - 1].Value
                    }

                }

                $("#DataTranzactionare").html(displayData.date);
                $("#Volum").html(displayData.volume);
                $("#ValoareVolum").html(displayData.value);
                $("#High").html(displayData.high);
                $("#Low").html(displayData.low);
                $("#Open").html(displayData.open);
                $("#Close").html(displayData.close);
          
				AmCharts.makeChart("chartdiv", {
			type: "stock",

			dataSets: [{
				fieldMappings: [{
					fromField: "open",
					toField: "open"
				}, {
					fromField: "close",
					toField: "close"
				}, {
					fromField: "high",
					toField: "high"
				}, {
					fromField: "low",
					toField: "low"
				}, {
					fromField: "volume",
					toField: "volume"
				}, {
					fromField: "value",
					toField: "value"
				}],

				color: "#7f8da9",
				dataProvider: chartData,
				title: "West Stock",
				categoryField: "date"
			}, {
				fieldMappings: [{
					fromField: "value",
					toField: "value"
				}],
				color: "#fac314",
				dataProvider: chartData,
				compared: true,
				title: "East Stock",
				categoryField: "date"
			}],


			panels: [{
				title: "Value",
				showCategoryAxis: false,
				percentHeight: 70,
				valueAxes: [{
					id: "v1",
					dashLength: 5
				}],

				categoryAxis: {
					dashLength: 5
				},

				stockGraphs: [{
					type: "candlestick",
					id: "g1",
					openField: "open",
					closeField: "close",
					highField: "high",
					lowField: "low",
					valueField: "close",
					lineColor: "#7f8da9",
					fillColors: "#7f8da9",
					negativeLineColor: "#db4c3c",
					negativeFillColors: "#db4c3c",
					fillAlphas: 1,
					useDataSetColors: false,
					comparable: true,
					compareField: "value",
					showBalloon: false
				}],

				stockLegend: {
					valueTextRegular: undefined,
					periodValueTextComparing: "[[percents.value.close]]%"
				}
			},

			{
				title: "Volume",
				percentHeight: 30,
				marginTop: 1,
				showCategoryAxis: true,
				valueAxes: [{
					id: "v2",
					dashLength: 5
				}],

				categoryAxis: {
					dashLength: 5
				},

				stockGraphs: [{
					valueField: "volume",
					type: "column",
					showBalloon: false,
					fillAlphas: 1
				}],

				stockLegend: {
					markerType: "none",
					markerSize: 0,
					labelText: "",
					periodValueTextRegular: "[[value.close]]"
				}
			}
			],

			chartCursorSettings: {
				valueLineEnabled: true,
				valueLineBalloonEnabled: true
			},


			chartScrollbarSettings: {
				graph: "g1",
				graphType: "line",
				usePeriod: "WW",
				updateOnReleaseOnly: false
			},

			periodSelector: {
				position: "bottom",
				periods: [{
					period: "DD",
					count: 10,
					label: "10 days"
				}, {
					period: "MM",
					selected: true,
					count: 1,
					label: "1 month"
				}, {
					period: "YYYY",
					count: 1,
					label: "1 year"
				}, {
					period: "YTD",
					label: "YTD"
				}, {
					period: "MAX",
					label: "MAX"
				}]
			}
                    });
            });

        });
    
	</script>
</head>

<body >
	<div style="padding-bottom:5%">

		<div class="container table-bordered">
			<div class="row">

				<div class="col-sm-4 border">
					<div>
						<table class="table">
							<tbody>
								<tr>
									<td>
										Nume Companie:
									</td>
									<td>
										@Company.CompanyName
									</td>
								</tr>
								<tr>
									<td>
										Numar Total Actiuni:
									</td>
									<td>
										@Company.NumberOfTotalShares
									</td>
								</tr>
								<tr>
									<td>
										Pret Nominal Actiune:
									</td>
									<td>
										@Company.NominalSharePrice
									</td>
								</tr>
								<tr>
									<td>
										Pret in piata Actiune:
									</td>
									<td>
										@Company.MarketSharePrice
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-sm-4 border">
					<div>
						<table class="table">
							<tbody>
								<tr>
									<td>
										Numar actiuni IPO:
									</td>
									<td>
										@Company.SharesOnInitialIPO
									</td>
								</tr>
								<tr>
									<td>
										Ultima Data Tranzactionare:
									</td>
									<td id="DataTranzactionare">
									</td>
								</tr>
								<tr>
									<td>
										Volum:
									</td>
									<td id="Volum">
									</td>
								</tr>
								<tr>
									<td>
										Valoare Volum:
									</td>
									<td id="ValoareVolum">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-sm-4 border">
					<div>
						<table class="table">
							<tbody>
								<tr>
									<td>
										High
									</td>
									<td id="High">										
									</td>
								</tr>
								<tr>
									<td>
										Low
									</td>
									<td id="Low">
									</td>
								</tr>
								<tr>
									<td>
										Pret deschidere:
									</td>
									<td id="Open">
									</td>
								</tr>
								<tr>
									<td>
										Pret Inchidere:
									</td>
									<td id="Close">
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div id="chartdiv" style="width:100%; height:600px;"></div>
</body>

</html>
