@{
    Layout = null;
}

@using Models;

@{
    var ASK = ViewBag.ASK as IList<Models.ASK>;
    var BID = ViewBag.BID as IEnumerable<Models.BID>;
    var Transaction = ViewBag.Transaction as Transaction;
    var CUI = Transaction.CUI;
    string CompanyName;
    if (ASK.Count > 0)
    {
        CompanyName = ASK[0].CompanyName;
    }
    else
    {
        CompanyName = "null";
    }
}


@model Models.Company

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("document_ready")

            $('#verticalScroll').DataTable({
                "scrollY": "50vh",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');

            $('#verticalScroll_2').DataTable({
                "scrollY": "50vh",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');

        $("#bb").click(function () {

                var Transaction = {
                    BID: {
                        CreatedOn: '@DateTime.Now.ToString()',
                        Price: $("#b_p").val(),
                        Quantity: $("#b_q").val(),
                        CUI:@Transaction.CUI,
                        CNP:@Transaction.CNP,                      
                        CompanyName:"@CompanyName"
                    },
                    CUI : "@Transaction.CUI"
                }

                $.ajax(
                {
                    type: "POST",
                        url: "/User/BUY",
                        data: Transaction,
                    cache: false,
                        async: true,
                     dataType: "json",
                    success: function (data) {
                        alert(data);
                      
                    },

                    });
            location.reload();
        });


         $("#bs").click(function () {

                var Transaction = {
                    ASK: {
                        CreatedOn: '@DateTime.Now.ToString()',
                        Price: $("#s_p").val(),
                        Quantity: $("#s_q").val(),
                        CUI:@Transaction.CUI,
                        CNP:@Transaction.CNP,                      
                        CompanyName: "@CompanyName",
                        IsIPO:false
                    },
                    CUI : "@Transaction.CUI"
                }

                $.ajax(
                {
                    type: "POST",
                        url: "/User/SELL",
                        data: Transaction,
                    cache: false,
                        async: true,
                     dataType: "json",
                    success: function (data) {
                        alert(data);
                      
                    },

                    });
            location.reload();
        });
    })

</script>

<html>

<body>

    <div>
        @Html.Action("RenderGraph","User",new {cui = CUI })
    </div>

    <div style="padding-left:10%">

        <div style="width:40%;float:left">
            <div style="width:50%;float:left;padding-top:22px">
                <table class="table table-striped table-bordered table-sm" id="verticalScroll">
                    <thead class="thead-dark" style="text-align:center">
                        <tr>
                            <th>
                                Pret
                            </th>
                            <th>
                                Cantitate
                            </th>
                            <th>
                                Data
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (BID bd in BID)
                        {
                            <tr>
                                <td>
                                    @bd.Price
                                </td>
                                <td>
                                    @bd.Quantity
                                </td>
                                <td>
                                    @bd.CreatedOn
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div style="width:50%;float:left;padding-left:9.5%">
                Price
                <input type="text" id="b_p" class="form-control" style="width:50%" />
                Quantity
                <input type="text" id="b_q" class="form-control" style="width:50%" />

                <button type="button" id="bb" style="float:left" value="Details" class="btn btn-primary">
                    BUY
                </button>

            </div>
        </div>

        <div style="float:left;width:40%">
            <div style="float:left;width:50%;padding-top:22px">
                <table class="table table-striped table-bordered table-sm" id="verticalScroll_2">
                    <thead class="thead-dark" style="text-align:center">
                        <tr>
                            <th>
                                Pret
                            </th>
                            <th>
                                Cantitate
                            </th>
                            <th>
                                Data
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (ASK sk in ASK)
                        {
                            <tr>
                                <td>
                                    @sk.Price
                                </td>
                                <td>
                                    @sk.Quantity
                                </td>
                                <td>
                                    @sk.CreatedOn
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div style="float:left;width:50%;padding-left:9.5%">

                <a2>Price</a2>
                <input type="text" id="s_p" class="form-control" style="width:50%" />
                <a2>Quantity</a2>
                <input type="text" id="s_q" class="form-control" style="width:50%" />

                <button type="button" id="bs" style="float:left" value="Details" class="btn btn-primary">
                   SELL
                </button>

            </div>
        </div>
    </div>

</body>
</html>


