@{
    Layout = null;
}

@using Models;
@using Newtonsoft.Json;

@{
    var ListedCompanies = ViewBag.ListedCompanies as IEnumerable<Company>;
    var TranHistory = ViewBag.TransactionHistory as IEnumerable<Transactions>;
}

@model Models.Individual

<html>

<head>
  
</head>

<body>

    @{
        Individual Individual = (Individual)Model;
        var pin = Individual.CNP;
    }

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {

              $('#verticalScroll').DataTable({
                    "scrollY": "50vh",
                    "scrollCollapse": true,
              });
              $('#verticalScroll_2').DataTable({
                    "scrollY": "50vh",
                    "scrollCollapse": true,
              });
              $('.dataTables_length').addClass('bs-select');

            $.get('@Url.Action("PortofolioValue", "User", new { cnp = pin })', function (response) {

                console.log(response);
                document.getElementById('valport').innerHTML = response;

            });

            $.get('@Url.Action("PortofolioGraph", "User", new { cnp = pin })', function (response) {


                var labels = [];
                var data = [];
                var countActiuni = 0;
                var predShare = '';
                var totalShares = 0;

                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].CompanyName);
                    data.push(response[i].Quantity);
                    countActiuni++;
                    predShare = response[0].CompanyName;
                    maxquant = response[0].Quantity;
                    totalShares += response[i].Quantity; 

                    if (response[i].Quantity > maxquant) {
                        maxquant = response[i].Quantity;
                        predShare = response[i].CompanyName;                     
                    }
                    console.log("Nameshare: " + predShare)
                }

                document.getElementById('numarActiuni').innerHTML = countActiuni;
                document.getElementById('actmaj').innerHTML = predShare;
                document.getElementById('totalShares').innerHTML = totalShares;

                var ctxD = document.getElementById("doughnutChart");
                var myLineChart = new Chart(ctxD, {

                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                            hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            });

        });
    </script>



    <div class="divpad">

        <div>


            <div class="row" style="padding-bottom:10%">

                <div class="col-lg-4 border">
                    <div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Individual.Name @Individual.Surname
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Depozit:
                                    </td>
                                    <td>
                                        @Individual.Debit
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total Actiuni
                                    </td>
                                    <td id="totalShares">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Numar Companii:
                                    </td>
                                    <td id="numarActiuni">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Actiune Majoritara:
                                    </td>
                                    <td id="actmaj">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valoarea de piata a Portofoliului:
                                    </td>

                                    <td id="valport">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="width:500px">
                    <canvas id="doughnutChart" width="500" height="300"></canvas>
                </div>

            </div>


        </div>




        <div style="width:100% ;padding-right:30%; float :left">
            <table id="verticalScroll" class="table table-striped table-bordered table-sm" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            CompanyName
                        </th>
                        <th>
                            MarketSharePrice
                        </th>
                        <th>
                            NumberOfTotalShares
                        </th>
                        <th>
                            SharesOnInitialIPO
                        </th>
                        <th>
                            Details
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (Company o in ListedCompanies)
                    {
                        <tr>
                            <td>
                                @o.CompanyName
                            </td>
                            <td>
                                @o.MarketSharePrice
                            </td>
                            <td>
                                @o.NumberOfTotalShares
                            </td>
                            <td>
                                @o.SharesOnInitialIPO
                            </td>
                            <td>


                                <button type="button" value="Details" class="btn btn-primary"
                                        onclick="location.href='@Url.Action("CompanyDetails","User", new Transaction {CNP = Individual.CNP,CUI = o.CUI })'">
                                    Vizualizare Companie
                                </button>

                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>


        <div style="padding-right:80%">BUY</div>
        <div style="float:left;padding-right:50%" class="form-inline">
            @Html.Action("PartialViewBID", "User", new { cnp = pin })
        </div>

        <div style="padding-right:80%">SELL</div>
        <div style="float:left" class="form-inline">
            @Html.Action("PartialViewASK", "User", new { cnp = pin })
        </div>


        <div style="padding-top:10%;padding-right:80%">
                <h4>
                    Istoric Tranzactii
                </h4>
        </div>

        <div style="width:100% ;padding-right:30%; float :left">
            <table id="verticalScroll_2" class="table table-striped table-bordered table-sm" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Tip Tranzactie
                        </th>
                        <th>
                            Data Tranzactie
                        </th>
                        <th>
                            Companie
                        </th>
                        <th>
                            Cantitate
                        </th>
                        <th>
                            Pret
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Transactions o in TranHistory)
                    {
                        <tr>
                            <td>
                               @{ 
                                   string x;

                                   if (o.BuyFrom == pin)
                                   {
                                       x = "Vanzare";
                                   }
                                   else
                                   {
                                       x = "Cumparare";
                                   }
                               }
                                @x
                            </td>
                            <td>
                                @o.CreatedOn
                            </td>
                            <td>
                                @o.CompanyName
                            </td>
                            <td>
                                @o.Quantity
                            </td>
                            <td>
                                @o.Price
                            </td>
                        </tr>
                     }

                </tbody>
            </table>
        </div>

    </div>

</body>

</html>